<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100">
    <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
        <img
            src="https://datasecurity-web.shiprocket.in/sr_logo.png"
            class="px-2"
        />
        <span class="fs-4">Sidebar</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let menu of menus" class="nav-item">
            <a
                href="javascript:;"
                class="nav-link m-1"
                [class.active]="currentRoute === menu.key"
                aria-current="page"
                (click)="onMenuClick(menu.key)"
            >
                {{ menu.title }}
            </a>
        </li>
    </ul>
    <hr />
    <div class="dropdown">
        <a
            href="javascript:;"
            class="d-flex align-items-center link-dark text-decoration-none"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <img
                src="https://github.com/mdo.png"
                alt=""
                width="32"
                height="32"
                class="rounded-circle me-2"
            />
            <strong>Shiprocket Code Devs</strong>
        </a>
        <ul
            class="dropdown-menu text-small shadow d-none"
            aria-labelledby="dropdownUser2"
        >
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
