<div class="col-11" (load)="onLoad()">
  <h1 class="my-1">Shipment Lost</h1>

  <div class="row g-5 my-2">
    <div class="col-sm-6">
      <label for="datePicker" class="form-label w-100">Date</label>
      <mat-form-field id="datePicker">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="datePicker"
          [(ngModel)]="formData.date"
          [max]="today"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>

    <div class="col-sm-6">
      <label for="seller" class="form-label">Seller Id</label>
      <input
        type="text"
        class="form-control"
        id="seller"
        placeholder=""
        value=""
        required=""
        [(ngModel)]="formData.seller_id"
        appNumberOnly
      />
      <div class="invalid-feedback">Valid last name is required.</div>
    </div>
  </div>
  <div class="row g-5 my-2">
    <div class="col-sm-6">
      <label for="lastName" class="form-label">Total Shipment</label>
      <input
        type="text"
        class="form-control"
        id="totalShipment"
        placeholder=""
        value=""
        [(ngModel)]="formData.total_shipment"
        required="true"
        appNumberOnly
      />
      <div class="invalid-feedback">Valid last name is required.</div>
    </div>
    <div class="col-sm-6">
      <label for="lastName" class="form-label">Lost Shipment</label>
      <input
        type="text"
        class="form-control"
        id="lostShipment"
        placeholder=""
        value=""
        required="true"
        [(ngModel)]="formData.lost_shipment"
        appNumberOnly
      />
      <div class="invalid-feedback">Valid last name is required.</div>
    </div>
  </div>

  <div class="w-100 my-5 d-flex justify-content-end">
    <button
      [disabled]="
        !formData.date ||
        !formData.seller_id ||
        !formData.total_shipment ||
        !formData.lost_shipment
      "
      class="btn btn-primary btn-lg"
      type="button"
      (click)="getData()"
    >
      Check
    </button>
    <!-- <button
            [swal]="{
                title: 'You\'r Data Maybe Effected',
                title: 'You\'r Data Maybe Effected',
                showDenyButton: true,
                denyButtonText: 'Don\'t save',
            }"
            (confirm)="saveFile($event)"
            (deny)="handleDenial()"
            (dismiss)="handleDismiss($event?.toString() || '')"
        >
            Save
        </button> -->
  </div>
</div>
